<app-nav></app-nav>
<div class="container">
  <h2>Lista de Floristerías</h2>
  <button routerLink="/flowershop/create">Agregar Floristería</button>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flowerShop of flowerShops">
        <td>{{ flowerShop.idflowershops }}</td>
        <td>{{ flowerShop.fullname }}</td>
        <td>{{ flowerShop.address }}</td>
        <td>{{ flowerShop.phone }}</td>
        <td>{{ flowerShop.state == 'Activate' ? 'Activo' : 'Inactivo' }}</td>
        <td>
          <!-- <button (click)="goToInventory(flowerShop.idflowershops)">Inventario</button>
          <button (click)="goToSales(flowerShop.idflowershops)">Ventas</button> -->
          <button (click)="editFlowerShop(flowerShop)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="isEditing">
    <h3>Editar Floristería</h3>
    <form (submit)="saveChanges()" [formGroup]="flowerShopForm">
      <div class="form-group">
        <label for="fullname">Nombre:</label>
        <input type="text" id="fullname" formControlName="fullname" />
        <div *ngIf="flowerShopForm.get('fullname')?.hasError('required')">
          Nombre es obligatorio.
        </div>
        <div *ngIf="flowerShopForm.get('fullname')?.hasError('pattern')">
          Nombre solo debe contener letras.
        </div>
      </div>
      <div class="form-group">
        <label for="address">Dirección:</label>
        <input type="text" id="address" formControlName="address" />
        <div *ngIf="flowerShopForm.get('address')?.hasError('required')">
          Dirección es obligatoria.
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Teléfono:</label>
        <input type="text" id="phone" formControlName="phone" />
        <div *ngIf="flowerShopForm.get('phone')?.hasError('required')">
          Teléfono es obligatorio.
        </div>
        <div *ngIf="flowerShopForm.get('phone')?.hasError('pattern')">
          Teléfono solo debe contener números.
        </div>
      </div>
      <div class="form-group">
        <label for="state">Estado:</label>
        <select id="state" formControlName="state">
          <option value="Activate">Activo</option>
          <option value="Inactive">Inactivo</option>
        </select>
        <div *ngIf="flowerShopForm.get('state')?.hasError('required')">
          Estado es obligatorio.
        </div>
      </div>
      <button type="submit">Guardar Cambios</button>
      <button (click)="cancelEdit()">Cancelar</button>
    </form>
  </div>  
</div>
