<app-nav></app-nav>
<div class="mainContainer">
  <!-- Mitad izquierda con Botones -->
  <div class="buttons">
  <button (click)="navigateTo('/my-flowershop')">Tu floristeria</button>
    <button (click)="navigateTo('/my-employees')">Tus Empleados</button>
    <button  (click)="navigateTo('/my-inventories')">Tu Inventario</button>
    <button  (click)="navigateTo('/providers')">Proveedores</button>
  </div>
  <div class="imgContainer">
    <img src="../../../assets/img/newLogo 1.png" alt="Imagen" class="full-width full-height">
  </div>
</div>