<app-nav></app-nav>

<div class="home-container">
  <h1>¡Bienvenido a DataFlor!</h1>
  <h3>El equipo de DataFlor le da la bienvenida a la plataforma líder en el manejo de inventarios para floristerías.</h3>
  <h3>Somos la solución número uno para ayudar a su negocio a prosperar y crecer.</h3>

  <app-carousel></app-carousel>

  <h3>¡Nuestra misión es facilitarle la vida a la gente!</h3>
  <h3>Nos esforzamos por brindar a nuestros clientes las herramientas necesarias para simplificar la gestión de sus inventarios.</h3> 
  <h3>Con DataFlor, usted puede concentrarse en lo que realmente importa: <div class="text">Su pasión por las flores y la satisfacción de sus clientes.</div></h3>
</div>
