<app-nav></app-nav>
<div class="container">
  <h2>Inventario de {{ inventorys[1].flowerShopName }}</h2>
  <button *ngIf="isLoggedInOwner" routerLink="/inventory/create">Agregar inventario</button>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unidad</th>
        <th>Precio total</th>
        <th>Proveedor</th>
        <th>¿Está activo?</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventory of inventorys">
        <td>{{ inventory.inventoryid }}</td>
        <td>{{ inventory.productName }}</td>
        <td>{{ inventory.quantity }}</td>
        <td>{{ inventory.priceProduct }}</td> <!-- Mostrar el precio del producto -->
        <td>{{ inventory.priceQuantity }}</td> <!-- Mostrar el precio total del producto -->
        <td>{{ inventory.providerName }}</td>
        <td>{{ inventory.state }}</td>
        <td>
          <button (click)="editInventory(inventory)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form" *ngIf="editingInventory">
  <h3>Editar Usuario</h3>
  <form (submit)="updateInventory()" [formGroup]="inventoryForm">
    <div class="form-group">
      <label for="quantity">Cantidad:</label>
      <input type="text" id="quantity" formControlName="quantity" />
      <div *ngIf="inventoryForm.get('quantity')?.hasError('required')">
        Cantidad es obligatorio.
      </div>
      <div *ngIf="inventoryForm.get('quantity')?.hasError('pattern')">
        Cantidad solo debe contener números.
      </div>
    </div>
    <div class="form-group">
      <label for="state">Estado:</label>
      <select id="state" formControlName="state">
        <option value="Activate">Activo</option>
        <option value="Inactive">Inactivo</option>
      </select>
      <div *ngIf="inventoryForm.get('state')?.hasError('required')">
        Estado es obligatorio.
      </div>
    </div>
    <button type="submit">Guardar Cambios</button>
    <button (click)="cancelEdit()">Cancelar</button>
  </form>
</div> 

<button *ngIf="isLoggedInOwner" routerLink="/products">Productos</button>
<!-- <button *ngIf="isLoggedInOwner" routerLink="/sales">Ventas</button> -->